body{
  background-color: purple;
}

nav{
  background-color: red;
}

a, li{
  color: white;
}

input{
  background-color: pink;
}
textarea{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}